*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}



body{
    display:
    justify-content center;
    align-items: centre;
    min-height: 100vh;
    background-color:#C4DAD2;
}
.box1 {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #044429;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(2, 48, 39, 0.1);
    font-family: Arial;
}
h1 {
    text-align: center;
}
.my_intro{

align-items: center;
padding: 10px;
font-size: 15px;
color: #cdddd7;


}
h3{
    color: #6A9C89;
}
#aboutme
{align-items: center;
padding: 10px;
font-size: 15px;
color: #62b998;}
textarea{
    width: 100%;
    padding: 10px;
    
}
    

INPUT[TYPE="TEXT"]
{
    width: 300px;
    height: 35px; 
    font-size: 16px; 
}
INPUT[TYPE="number"]
{
    width: 300px;
    height: 35px; 
}   



.left_box
{

background-color:#16423C;
padding: 20px;
;
}
.contact_me{
    padding: .01%;
    margin-top: 0%;
    color: #14996a;
}
.contact_me ul li .text
{
    color: #073322;
    
    font-weight: 400;


}
.contact_me ul li .icon
{
    color:rgb(38, 124, 75);
    font-size: 19px;
    width:3px;
}


.right_box{
    position: relative;
    padding: 20px;
    background-color:#16423C;
    width:80%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}


  button{
    background-color: #a6d4cf;
    border: 2px solid;
    height:30px;
    width:150px;
    font-size: 16px;

  }
  #toogle_button{
    align-content: center;
    margin: auto;
  }
  button:hover
  {
    background-color: rgb(20, 70, 53);
  }
  .button{
    margin: 20px auto;
    display:block;
    padding: 10px 20px;
    width:180px;
    height:50px
  }